

<div class='l-wrapper'>

	<nav class='nav-primary'>
		<ul class='nav-primary__list inline-list'>
			<li> <a href="/#notes">Notes</a> </li>
			<li> <a href="/#tasks">Tasks</a> </li>
			<li> <a href="/api/notes.json">Notes API</a> </li>
		</ul>
	</nav>
	

	<div id="app-view">

		<div class='l-column l-note-entry'>
			The entry sectin will be here
		</div>

		<div class='l-column l-notes'>
			 <div class='l-notes--list'></div>
		</div>
		
	</div>



</div>


