

<div class='l-app-wrapper'>

	<header class='header-primary'>
		<h1> Notez </h1>
	</header>

	<nav class='nav-primary'>
		<ul class='nav-primary__list inline-list'>
			<li> <a href="/#">Dashboard</a> </li>
			<li> <a href="/#notes">Notes</a> </li>
			<li> <a href="/#tasks">Tasks</a> </li>
			<li> <a href="/api/notes.json">Notes API</a> </li>
		</ul>
	</nav>
	

	<div id="notes" class='l-notes'>
		
	</div>



</div>


